@charset "utf-8";
/*********Color Palette*********
Maroon:   		#780000
Yellow: 		#EEB111
White: 			#FFFFFF
Lt. Beige:		#ECEDD7	
Drk. Beige:		#D8D9AD
*******************************/
.container {
	margin:0 5 0 10%;
}
form {
	margin-top: 26px;
}
form button {
margin-top: 10px;
clear: left;
float: left;
margin-left: 30%;
}

form input  {
	clear: right;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 250px;
}

.btn.btn-default {
	color: black;
	font-weight: 600;
	background: #DF9D0F;
	text-shadow: none;
	border: 1px solid #780000;
	}

.jumbotron {
	background: #D8D9AD;
	padding: 0 50 10 0;
	width: 100%;
	height: auto; 
}

.jumbotron img {
    padding-top: 30px;
}

.panel-body {
	
margin:0 5 0 10%;


}

.panel-body label {
	display: inline;
	float: left;
    clear: left;
    width: 100px;
    text-align: right;
    margin: 10px;
}
.panel.panel-default {
	margin-top: 20px;
	width: 60%;
	height: auto;
	
}