/*********Color Palette*********
Maroon:   		#780000
Yellow: 		#EEB111
White: 			#FFFFFF
Lt. Beige:		#ECEDD7	
Drk. Beige:		#D8D9AD
*******************************/
.container {
	max-width: 600px;
}
.btn.btn-block:hover {
	background: #780000;
	border: 1px solid #DF9D0F;
    color: #ffffff;  
	}

.btn.btn-block {
	color: black;
	font-weight: 600;
	background: #EEB111;
	text-shadow: none;
	border: 1px solid #780000;
    margin-bottom: 15px;
 
	}

.form-control {
	display: block; 
	margin-bottom: 10px;
}
.jumbotron {
	background: #D8D9AD;
	padding: 0px;
	width: 100%;
	height: auto; 
}

.jumbotron img {
    padding-top: 30px;
}
