/*********Color Palette*********
Maroon:   		#780000
Yellow: 		#EEB111
White: 			#FFFFFF
Lt. Beige:		#ECEDD7	
Drk. Beige:		#D8D9AD
*******************************/

.btn {
    display: none;
}

#moreInfo {
    display: none;
}